<article>


    <a class="clickwork" href="/blog/<%=postIndex %>">
      <img src="<%=post.imageURL %>" alt="<%=post.imageAlt %>" class="blogpostpic">
      <figcaption><div class="titlebox"><%=post.title %></div></figcaption>
    </a>


</article>
