<% include header %>
<link rel="stylesheet" href="/css/style contact.css">

  <div class="ballbox">
    <a href="mailto:larissa.marien95@gmail.com"><div class="email"></div></a>
    <a href="https://www.facebook.com/larissa.marien"><div class="fb"></div></a>
    <a href="https://www.instagram.com/larissaapm"><div class="insta"></div></a>
    <a href="https://twitter.com/LarissaMarien"><div class="twitter"></div></a>
    <a href="https://codepen.io/larissamarien"><div class="codepen"></div></a>
  </div>

<% include footer %>
