<% include header %>
<link rel="stylesheet" href="/css/style contact.css">

  <div class="ballbox">
    <a href="mailto:larissa.marien95@gmail.com"><div class="email"></div></a>
    <a href="https://www.facebook.com/larissa.marien" target="_blank"><div class="fb"></div></a>
    <a href="https://www.instagram.com/larissaapm" target="_blank"><div class="insta"></div></a>
    <a href="https://twitter.com/LarissaMarien" target="_blank"><div class="twitter"></div></a>
    <a href="https://codepen.io/larissamarien" target="_blank"><div class="codepen"></div></a>
  </div>

<% include footer %>
