</main>


		<footer id="myfooter" role="contentinfo">
				<div class="footer-content">
					<div class="copyright">
						<% include nav %>
						<small>Everything on this website was designed and programmed by myself.<br>
						&copy; 2019 Present. All Rights Reserved.
						<br>Designed by Larissa Marien</small>
					</div>
				</div>
		</footer>



	</body>
</html>
