<% include header %>
<link rel="stylesheet" href="/css/style index.css">
  <div class="slideshow-wrapper">

      <div class="button left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>

      <ul>
        <li class="slide active">hi welkom to my site!</li>
        <li class="slide red"></li>
        <li class="slide blue"></li>
        <li class="slide orange"></li>
        <li class="slide green"></li>
      </ul>

      <div class="button right">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>

      <div class="slideshow-indicator-wrapper">
      </div>

  </div>
  <script src="js/jsindex.js"></script>
<% include footer %>
