<% include header %>
<link rel="stylesheet" href="/css/style work.css">

<div class="container">

				<div class="box work1">
					<a href="single.html">
						<img src="images/img_20.jpg" alt="Free HTML5 by FreeHTML5.co">
						<h2>Your Project Title Here</h2>
					</a>
				</div>
				<div class="box work2">
					<a href="single.html">
						<img src="images/img_19.jpg" alt="Free HTML5 by FreeHTML5.co">
						<h2>Your Project Title Here</h2>
					</a>
				</div>
				<div class="box work3">
					<a href="single.html">
						<img src="images/img_3.jpg" alt="Free HTML5 by FreeHTML5.co">
						<h2>Your Project Title Here</h2>
					</a>
				</div>
				<div class="box work4">
					<a href="single.html">
						<img src="images/img_4.jpg" alt="Free HTML5 by FreeHTML5.co">
						<h2>Your Project Title Here</h2>
					</a>
				</div>

		</div>
    <script  src="/js/jswork.js"></script>
<% include footer %>
