:root {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  background-color: black;
}

header {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  background-color: black;
  height: 9vh;
  margin: 2rem;
}

.logo {
  height: 10vh;
  display: block;
}

nav {
  margin-top: 5rem;
}

nav a {
  display: block;
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(133,93,62);
  margin-bottom: 4rem;
}
